
// Showcase lines and buttons

.showcase{
 .light-line{
	width:500px;
	margin-bottom:30px;
	}
 .btn{
	background: transparent;
	border: 3px solid $light-base;
	border-radius: 25px;
	padding:10px 20px;
	transition: 0.2s;
	transition-timing-function: ease-in-out
	}
	.btn:hover{
	background:$light-base;
	color:#333;
	}
} 

// Showcase Content

.showcase-inner{
	font-family: 'Raleway', sans-serif;
	color:$light-base;
	padding-bottom:80px;
	h1{
		font-weight: 200;
		margin-bottom:15px;
		font-size: 50px;
		letter-spacing: -1px;
	}
	p{
		font-size: 50px;
		font-size: 18px;
	}
}

//Emai input

.input-group{
	margin-top:40px; 
	width: 70%;
	margin: auto;
	overflow: hidden; 
	margin-top: 60px;
	
	.form-control{
		height: 60px;
		font-size: 18px;
	}
	#input-btn {
		background: url("/Img/email-button.png");
		background-size: cover;
		width: 50px;
		height:50px;
		position: absolute;
		top: 5px;
		right: 15px;
		z-index: 2;
		border-radius:10px;
		border:0;
		box-shadow: none; 
		padding:0;
		transition-timing-function: ease-in-out;
		transition: 0.4s;
	}
	#input-btn:hover{
		opacity: 0.6;
	}
}

@media(max-width:622px){
	#input-btn{
		position: static;
		float: center;
	}   
}
